---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<head>
		<meta charset="UTF-8">
	</head>
	<div  class=' indent-8 prose prose-lg prose-a:text-blue-400 lg:max-w-none lg:w-3/4 text-white'>
		<p>
			<Content />
		</p>
	</div>
</BlogPost>
