
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Coolvetica';
		src: font-url('coolvetica rg.otf') format('opentype');
	}
	@font-face {
		font-family: 'Lato';
		src: font-url('Lato-Semibold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Poppins';
		src: font-url('Poppins-Regular.ttf') format('truetype');
	}

	html {
		font-family: Poppins, sans-serif;
	}

}


@layer components {
	.headerlink {
		@apply w-min bg-gray-500 m-5 font-Lato text-gray-800
	}
}



