---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2 class='text-7xl font-semibold pb-5 md:pb-10 tracking-tight font-Poppins font-semibold hover:underline transition ease-in-out duration-100 '>
		<HeaderLink href="/">
			The Calcium Blog
		</HeaderLink>
	</h2>
</header>
